/* style rules should appear in the same order that the elements appear in index.html */
html, body {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; border: 0; padding: 0;
    
    font-size: 11pt;
    font-family: "Arial", "Helvetica", sans-serif;
}

div {
    position: absolute;
    /* these will probably be overriden */
    padding: 0; border: 0; margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 11pt;
}

button {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

#wrapper, #main-menu {
    width: 1057px; height: 602px;
    padding: 0; border: 0;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}

#battlespace, #map {
    top: 0; left: 0;
    width: 800px; height: 600px;
    border: 1px solid black;
}

#stats-panel {
    width: 250px; height: 150px;
    bottom: 3px; right: 3px;
}

#health-bar, #energy-bar {
    display: block;
    position: relative;
    margin: 0; border: 0; padding: 0;
    width: 100%; height: 30px;
    border-radius: 3px;
}

#health-bar {
    background-color: rgba(126, 22, 15, 0.5);
}

#energy-bar {
    margin-top: 3px;
    background-color: rgba(8, 111, 117, 0.5)
}

#stats-effects {
    display: relative;
    width: 100%; height: 82px;
    margin-top: 3px;
    background-color: lime;
}

#deck-button {
    position: absolute;
    width: 75px; height: 40px;
    border: 1px solid forestgreen;
    bottom: 158px; right: 3px;
}

#discard-button {
    position: absolute;
    width: 75px; height: 40px;
    border: 1px solid lime;
    bottom: 158px; right: 83px;
}

#play-cards-button {
    position: absolute;
    width: 75px; height: 40px;
    border: 1px solid indianred;
    bottom: 158px; right: 163px;
}

#cards-panel {
    width: 540px; height: 200px;
    bottom: 0px; left: 0px;
    background-color: powderblue;
}

.card {
    /* gotta fill this in later */
}

#notifications, #notifications-cover {
    width: 250px; height: 600px;
    top: 0; left: 805px;
    border: 1px solid black;
}

#notifications {
    overflow: hidden;
}

#notifications-cover {
    background: linear-gradient(
        /* we can decide on the colour later... */
        rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 20%
    );
}

.notification {
    display: block;
    width: 240px;
    padding: 5px;
    word-wrap: normal;
    position: relative;
}